@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-russo: var(--font-russo);
  --font-righteous: var(--font-righteous);
  --font-shojumaru: var(--font-shojumaru);
  
}




*{
  /* margin: 0; */
  box-sizing: border-box;
  outline: none;
  /* font-family: var(--font-russo); */
}


